site_name: Karskiy
site_url: https://karskiy.github.io/
theme:
  name: material
  logo: assets/logo.png
  favicon: images/favicon.png

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/extra.js