site_name: Karskiy
site_url: https://karskiy.github.io/
theme:
  name: material
  logo: assets/logo.png
  favicon: images/favicon.png
  features:
    - content.code.copy
    - content.code.annotate

nav:
  - Главная: index.md
  - n8n:
    - n8n/index.md
  - Docker:
    - docker/index.md
    - WordPress: docker/wordpress.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/extra.js